<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cadastro de Clientes</title>
    </head>
    <body>
        <h1>Olá seja bem vindo</h1>
        <h2>Dados do cliente:</h2>
        
        <table>
            <thead>
                <tr>
                    <td>Nome</td>
                    <td>Telefone</td>
                    <td>Data de nascimento</td>
                    <td>Endereço</td>
                    <td>Bairro</td>
                    <td>CEP</td>
                    <td>Referência</td>
                    <td>E-mail</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Alex</td>
                    <td>11 99999-9999</td>
                    <td>01/01/1980</td>
                    <td>Av. teste</td>
                    <td>juqueri</td>
                    <td>01130190</td>
                    <td>parque js</td>
                    <td>alex@teste.com.br</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>

<!-- Dados do cliente:
;
;
;
;
;
: quando digitar o CEP deverá aparecer o endereço.
Ponto de  de onde mora;
. -->