{% extends 'base.html' %}
{% block content%}

<p>Nome:               {{form.nome.value}}            </p>
<p>Celular:            {{form.celular.value}}         </p>
<p>Data de Nascimento: {{form.data_nascimento.value}}  </p> 
<p>Endereço:           {{form.endereco.value}}        </p> 
<p>Bairro:             {{form.bairro.value}}          </p> 
<p>CEP:                {{form.cep.value}}             </p> 
<p>Referência:         {{form.referencia.value}}      </p> 
<p>E-mail:             {{form.email.value}}           </p>

{% endblock %}


 