{% extends 'base.html' %}
{% block content %} 
{% load static%}
<section class="col-8">
        <form action="{% url 'consulta' %}" method="post">
            {% csrf_token %}
            {% for field in form.visible_fields %}
            <div class="form-group">
                <label 
                for = "{{field.id_for_label}}">{{field.label}}
                </label>
                {{field}}
            </div>
            {% endfor %}
            <input type="submit" value="enviar" class="btn btn-outline-success">
        </form>
</section>
{% endblock %}
